.footer {
  margin-top: 215px;
  .footer-l {
    &__img1 {
      opacity: 0.7;
      width: 100%;
      height: 329px;
      object-fit: fill;
    }
  }

  .footer-r {
    &__img {
      opacity: 0.2;
      max-width: 100%;
      height: 334px;
      position: relative;
      z-index: -2;
    }

    &__text-content {
      margin-top: -300px;
      margin-left: 37px;
    }

    &__nav-title {
      color: #e0dab8;
    }

    &__icon-title {
      color: #e0dab8;
      margin-top: 26px;
    }

    &__links {
      font-size: 21px;
      color: gray;
      margin-left: 20px;
      margin-top: 13px;
      &:hover {
        filter: brightness(130%) !important;
        color: gray !important;
      }
    }
    &__icon {
      font-size: 37px;
      color: gray;
      padding: 10px;
      margin-top: 10px;
      &:hover {
        filter: brightness(130%) !important;
        color: gray !important;
      }
    }

    &__logo-icon {
      margin-left: 67%;
      margin-top: -36px;
      width: 262.394px;
      height: 145.723px;
      @media screen and (min-width: 576px) and (max-width: 768px) {
        margin-left: 54%;
      }
      @media screen and (max-width: 576px) {
        margin-left: 56%;
      }
    }
  }
}
