.navbar {
  background-color: #10202d !important;
  &__logo {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    @media screen and (max-width: 768px) {
      position: relative;
      margin: 7px 0 -16px -51px;
    }
  }
  &__links {
    z-index: 1;
    text-align: center;
  }
  &__links-styling {
    margin-top: 100px;
    @media screen and (max-width: 768px) {
      margin-top: 0px;
    }
  }
  &__icons {
    font-size: 20px;
    margin-right: 15px;
    color: #c0b3a2;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.navbar-toggler-icon {
  width: 2.5em;
  color: #c0b3a2 !important;
}
.navbar-toggler {
  border: none;
  outline: none;

  &:focus,
  &:active,
  &-icon:focus {
    outline: none;
    box-shadow: none;
  }
}
